<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
               <h5>Add Loan Details </h5>
            </div>
            <div class="card-body">
                <form [formGroup]="addLoanForm" (submit)="submit()">
                    <div class="form-group">
                        <label class="col-form-label" for="appendedPrependedInput">Loan Type</label>
                        <div class="input-group">
                            <label class="switch switch-label switch-pill switch-success">
                                <input formControlName="eduLoan" type="checkbox" class="switch-input" (change)="changeLoanType('EL')">
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                            &nbsp;&nbsp;
                            <p>Education Loan</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="switch switch-label switch-pill switch-success">
                                <input formControlName="homeLoan" type="checkbox" class="switch-input" (change)="changeLoanType('HL')"/>
                                <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                            </label>
                            &nbsp;&nbsp;
                            <p>Home Loan</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="color:red" class="error" *ngIf="addLoanForm.controls['loanDesc'].hasError('required') && addLoanForm.controls['loanDesc'].touched"><i>*Loan Description is required</i></div>
                  
                        <label class="col-form-label" for="appendedPrependedInput">Loan Description</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                            </div>
                            <input formControlName="loanDesc" type="text" id="desc" name="desc" class="{{addLoanForm.controls['loanDesc'].hasError('required') && addLoanForm.controls['loanDesc'].touched ? 'form-control is-invalid': 'form-control'}}" placeholder="Loan Description"
                                autocomplete="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8">
                                    <div style="color:red" class="error" *ngIf="addLoanForm.controls['principalAmount'].hasError('required') && addLoanForm.controls['principalAmount'].touched"><i>*Principal Amount is required.</i></div>
                                    <div style="color:red" class="error" *ngIf="addLoanForm.controls['principalAmount'].hasError('pattern')">* Principal amount should be numeric</div>
                                <label class="col-form-label" for="appendedPrependedInput">Principal Amount</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                                        </div>
                                        <input (change)="changeBalanceAmountValue()" formControlName="principalAmount" id="appendedPrependedInput" class="{{addLoanForm.controls['principalAmount'].hasError('required') && addLoanForm.controls['principalAmount'].touched || addLoanForm.controls['principalAmount'].hasError('pattern')? 'form-control is-invalid': 'form-control'}}" type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label" for="appendedPrependedInput">Interest Rate</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                        </div>
                                        <input formControlName="interestRate" id="appendedPrependedInput" class="{{addLoanForm.controls['interestRate'].hasError('required') && addLoanForm.controls['interestRate'].touched || addLoanForm.controls['interestRate'].hasError('pattern')? 'form-control is-invalid': 'form-control'}}" type="text">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-8">
                                    <div style="color:red" class="error" *ngIf="addLoanForm.controls['balanceAmount'].hasError('required') && addLoanForm.controls['balanceAmount'].touched"><i>*Balance Amount is required.</i></div>
                                    <div style="color:red" class="error" *ngIf="addLoanForm.controls['balanceAmount'].hasError('pattern') && addLoanForm.controls['balanceAmount'].touched">* Balance amount should be numeric</div>
                                    <div style="color:red" class="error" *ngIf="hasBalanceAmountError && addLoanForm.controls['balanceAmount'].touched">* Balance amount should be equal or less than principal amount</div>
                              
                                <label class="col-form-label" for="appendedPrependedInput">Balance Amount</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-rupee"></i></span>
                                        </div>
                                        <input (change)="matchValidator()" formControlName="balanceAmount" id="appendedPrependedInput" class="
                                            {{(addLoanForm.controls['balanceAmount'].hasError('required') || addLoanForm.controls['balanceAmount'].hasError('pattern') || hasBalanceAmountError)
                                            &&  addLoanForm.controls['balanceAmount'].touched ? 'form-control is-invalid' : 'form-control'
                                        }}
                                        " type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 7px;" class="col-sm-4">
                                <label for="ccyear">Year</label>
                                <div class="controls">
                                    <select formControlName="loanYear" class="form-control" id="ccyear">
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                     </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                    <div style="color:red" class="error" *ngIf="addLoanForm.controls['bankName'].hasError('required') && addLoanForm.controls['bankName'].touched"><i>*Bank Name is required.</i></div>
                                   
                                <label class="col-form-label" for="appendedPrependedInput">Bank Name</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-bank"></i></span>
                                        </div>
                                        <input formControlName="bankName" id="appendedPrependedInput" class="
                                        {{addLoanForm.controls['bankName'].hasError('required') && addLoanForm.controls['bankName'].touched ? 'form-control is-invalid': 'form-control'}}
                                        " type="text"
                                            placeholder="Bank name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-md btn-success">
                            <i class="fa fa-check"></i>    
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/.row-->