<div class="animated fadeIn">
    <div class="row" *ngIf="loanDetails.length == 0">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <i style="color:red" class="fa fa-times-circle fa-4x"></i>
                    <h3>Oops! Seems like you haven't added loan details yet. </h3>
                    <div class="text-center">
                        <br />
                        <button (click)="addLoanBtnClick()" type="button" class="btn btn-lg btn-primary"><i
                                class="fa fa-plus"></i>&nbsp; Add Loan Details </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <div class="row" *ngIf="loanDetails.length != 0">
        <!-- col start -->
        <div *ngFor="let loan of loanDetails" class="col-sm-6 col-md-4">
            <div class="card card-accent-{{loan.loanType == 'EL'? 'success':'primary'}}">
                <div class="card-header">
                    
                    <div *ngIf="loan.loanType=='EL'">
                        <span class="badge badge-success">Education Loan</span>&nbsp;
                        <span *ngIf="loan.balanceAmount == 0" class="badge badge-success">Loan closed</span>
                        <button style="float: right;" data-toggle="modal" (click)="onDeleteLoan(loan.loanId)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                  
                    </div>
                    <div *ngIf="loan.loanType=='HL'">
                        <span class="badge badge-primary">Home Loan</span>&nbsp;
                        <span *ngIf="loan.balanceAmount == 0" class="badge badge-success">Loan closed</span>
                        <button style="float: right;" data-toggle="modal" (click)="onDeleteLoan(loan.loanId)"  class="btn btn-danger"><i class="fa fa-trash"></i></button>
                  
                    </div>
                   </div>
                <div [ngStyle]="getClosedLoanStyle(loan.balanceAmount)" class="card-body">
                    <label class="col-form-label"><i class="fa fa-bank"></i> Bank &nbsp;&nbsp; </label>
                    <span class="badge badge-primary">{{loan.loanBank}}</span>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <label class="col-form-label">Principal Amount </label>
                            <div class="input-group">
                                <h5>
                                    <i class="fa fa-rupee"></i>&nbsp;
                                    {{loan.principalAmount | number}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label class="col-form-label">Balance Amount </label>
                            <div class="input-group">
                                <span *ngIf="loan.balanceAmount ==0" class="badge badge-secondary">settled</span>
                                <h3 *ngIf="loan.balanceAmount !=0" style="color: tomato; font-weight: bold">
                                    <i class="fa fa-rupee"></i>&nbsp;
                                    {{loan.balanceAmount | number}}
                                </h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <label class="col-form-label">Interest </label>
                            <div class="input-group">
                                <h5>
                                    <span class="badge badge-warning">{{loan.interestRate}}</span>&nbsp; <i
                                        class="fa fa-percent"></i>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <label class="col-form-label">Progress</label>
                    <div class="clearfix">
                        <div class="float-left">
                            <strong>
                                {{loanService.calculateProgress(loan.principalAmount,loan.balanceAmount)}}%
                            </strong>
                        </div>
                    </div>
                    <div class="progress progress-xs">
                        <div [ngClass]="loanService.getProgressClass(loanService.calculateProgress(loan.principalAmount,loan.balanceAmount))"
                            role="progressbar"
                            [ngStyle]="loanService.getProgressStyle(loanService.calculateProgress(loan.principalAmount,loan.balanceAmount))"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    &nbsp;
                    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                        <button type="button" (click)="showLoanDetails(loan.loanId)" class="btn btn-ghost-primary">See Details&nbsp;<i class="fa fa-long-arrow-right"></i></button>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col end-->
    </div>

</div>


<div bsModal #loanDeletewarningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Loan</h4>
              <button type="button" class="close" (click)="loanDeletewarningModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> All subsequent statements related to this loan will be deleted. Do you sure want to delete this loan?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="loanDeletewarningModal.hide()">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="deleteLoan()">Delete</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->